@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*Обнуление стилей*/

*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
nav,footer,header,aside{display: block;}
button, a{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body{
    font-family: Roboto;
    color: #ffffff;
    background: #ffffff;
}
.wrapper{
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}

/*Header*/

.header{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}
.header__inner{
    width: calc(100% - 30px);
    position: relative;
    margin: 0 15px;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__inner:after {
    content: '';
    width: calc(100% - 30px);
    position: absolute;
    left: 15px;
    top: 80px;
    height: 2px;
    background-color: #fff;
}
.header__burger {
    display: none;
}
.header__logo{
    margin-left: 60px;
    max-width: 100%;
}
.header__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
}
.header__link {
    text-decoration: none;
    color: #ffffff;
    align-self: center;
    margin-left: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.header__link:hover {
    opacity: 0.7;
}


/*Intro*/

.intro {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.intro__inner {
    display: flex;
    margin-left: 15px;
}
.intro__title {
    position: absolute;
    left: 50px;
    bottom: 105px;
}
h4{
    display: inline-block;
    margin-right: 18px;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
}
.arrow-white {
    position: absolute;
    top: -10px;
    left: 300px;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow-white:before {
    content: '';
    width: 14px;
    height: 20px;
    position: absolute;
    right: 10px;
    background-image: url(../images/small-arrow.png);
    background-repeat: no-repeat;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}
h1{
    font-family: HelveticaNeueCyr;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 140px;
    text-align: left;
}
.intro__about{
    position: absolute;
    width: 347px;
    height: 231px;
    right: 0;
    bottom: 105px;
}
.about__nav {
    padding: 10px 0;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    border-bottom: 2px solid #FFFFFF;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
}
.about__link{
    color: #ffffff;
    text-decoration: none;
}
.about__link:before {
    content: '';
    width: 14px;
    height: 20px;
    position: absolute;
    right: 25px;
    background-image: url(../images/small-arrow.png);
    background-repeat: no-repeat;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.social{

}
.social i{
    margin-right: 30px;
    color: #ffffff;
    font-size: 23px;
}

/*Services*/

.services {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.serv__item {
    position: relative;
    width: 50%;
    background: #414757;
}
.video__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serv__title {
    position: absolute;
    top: 0;
    margin-left: 90px;
    padding-top: 70px;
    width: 330px;
    z-index: 2;
    color: #ffffff;
    font-style: normal;
    height: 160px;
    font-family: HelveticaNeueCyr;
    font-weight: bold;
    font-size: 45px;
    line-height: 36px;
}
.serv__title::before {
    position: absolute;
    top: 20px;
    left: 5px;
    font-size: 13px;
    font-weight: 300;
    transition-duration: 0.2s;
    color: rgb(255, 255, 255);
    z-index: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    content: "послуги";
}
.arrow-big-white {
    position: absolute;
    left: 200px;
    bottom: 60px;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow-big-white:before {
    content: '';
    width: 14px;
    height: 20px;
    position: absolute;
    right: 10px;
    background-image: url(../images/small-arrow.png);
    background-repeat: no-repeat;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.arrow-big-white::after {
    content: "Детальніше";
    position: relative;
    left: -90px;
    font-weight: 400;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.btn{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.details {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    margin-right: 18px;
    color: #ffffff;
    margin-right: 10px;
}
.arrow-black {
    width: 27px;
    height: 20px;
}


/*History*/

.history{
    position: relative;
    background: #F2F2F2;
    height: 950px;
    display: flex;
    flex-direction: row;
    padding: 180px 0px 210px 0px;
    overflow: hidden;
}
.history__content {
    display: flex;
    flex-direction: row;
    width: 50%;
    color: #000000;
}

.history__title {
    width: 400px;
    padding-left: 55px;
    margin-bottom: 66px;
    text-transform: capitalize;
}
.history__img{
    position: absolute;
    width: 486px;
    height: 561px;
    left: 0;
    top: 37%;
    z-index: 1;
}
.history__text {
    width: 428px;
    height: 304px;
    padding-right: 40px;
    z-index: 2;
}
.history__text p{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    margin-bottom: 50px;
    text-indent: 80px;
}
.history__text .btn{
    margin-top: 95px;
}

.history__photo {
    width: 50%;
    display: flex;
    flex-direction: row;
}
.img__1 {
    width: 689px;
    height: 480px;
    z-index: 2;
}
.img__2 {
    width: 341px;
    height: 302px;
    margin: 40px 30px 70px -120px;
    z-index: 1;
}

/*Team*/

.team {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 637px;
    padding: 115px 0px 0px 60px;
    color: #000;
    font-family: HelveticaNeueCyr;
}
.mb__title {
    margin-bottom: 90px;
}
.team__content{
    width: 400px;
    margin-right: 220px;
}
.black{
    color: #000;
}
.team__card {
    width: 333px;
    height: 442px;
    border: 2px solid #000;
    padding-top: 13px;
    padding-left: 11px;
    margin-left: 35px;
}
.team__name {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 7px;
}
.team__info {
    color: #A1A1A1;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 50px;
}
.team__photo {
    margin-bottom: 50px;
}
.point{
    position: relative;
    top: -300px;
    left: 50px;
}

/*News*/

.news {
    overflow: hidden;
    color: #000;
    font-family: HelveticaNeueCyr;
    padding: 120px 30px;
    margin: 0px 30px;
    border-bottom: 2px solid #231F20;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.news__item {
    max-width: 442px;
    max-height: 454px;
    border: 2px solid #000;
    padding: 17px;
    margin-right: 37px;
}
.news__img {
    max-width: 100%;
}
.item__text {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    padding: 15px;
}
.news__about{
    padding-left: 5%;
}
h2{
    color: #000;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 33px;
}

/*Contacts*/

.contacts {
    max-height: 800px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000;
    font-family: HelveticaNeueCyr;
    padding-top: 170px;
    padding-left: 60px;
}
.contacts__block {
    max-width: 486px;
    z-index: 2;
}
.contacts__title{
    max-width: 403px;
    padding-right: 30px;
}

.big-grey-arrow {
    position: absolute;
    width: 486px;
    height: 540px;
    left: 0;
    top: 70px;
    z-index: 1;
}
.contacts p{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    width: 220px;
    margin-bottom: 50px;
}
.contacts__form {
    max-width: 457px;
}
.contacts__form-row {
    margin-bottom: 5px;
}
.contacts__form-row input {
    max-width: 207px;
}
.contacts__form-row input:first-child {
    margin-right: 15px;
}
.contacts__form-column {
    display: flex;
    flex-direction: column;
}

input, textarea{
    padding-left: 14px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    height: 45px;
}
textarea{
    padding-top: 12px;
    height: 106px;
    margin-bottom: 67px;
}
.form__btn {
    height: 45px;
    display: inline-block;
    border: 2px solid #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    padding: 14px 31px;
    margin-right: -8px;
    margin-bottom: 330px;
}
.form__btn-img{
    height: 45px;
    padding: 16px 25px;
    background: #000;
}
.contacts__map{
    position: relative;
}
.contacts__map .btn{
    margin-top: 83px;
}
.map__point{
    position: absolute;
    top: 120px;
    left: 220px;
}

/*Footer*/

.footer{
    overflow: hidden;
    height: 435px;
    padding: 70px 20px;
    padding-top: 0;
    color: #000;
    font-family: HelveticaNeueCyr;
}
.footer__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 30px;
    border-top: 2px solid #231F20;
    padding-top: 78px;
}
.footer__container {
    text-align: center;
}
.footer__logo {
    margin-bottom: 28px;
}
.footer__text span{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}
.footer__text p{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #939393;
}
.footer__social{
    margin-top: 40px;
}
.social__link{
    margin-right: 25px;
    font-size: 25px;
    color: #000;
}
.social__link:last-child {
    margin-right: 0;
}

/*Footer__info*/

.footer__info {
    max-width: 1190px;
}
.footer__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
}
.footer__block {
    width: 155px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}
.footer__about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    height: auto;
}
.footer__nav {
    list-style: none;
    max-width: 450px;
    margin-right: 120px;
}
.nav__title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 17px;
}
.nav__about a{
    color: #000;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}
.footer__buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: 700;
    font-style: normal;
}
.footer__btn {
    cursor: pointer;
    width: 242px;
    height: 45px;
    border: 2px solid #000000;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    padding: 13px 70px;
    margin-bottom: 42px;
}
.footer__btn p{
    font-size: 12px;
    line-height: 16px;
}
.btn__image{
    cursor: pointer;
    width: 45px;
    height: 45px;
    background: #000;
    padding: 16px 18px;
}
.form input{
    width: 197px;
    border: 2px solid #000000;
}
.form{
    display: flex;
    flex-direction: row;
    margin-top: 6px;
}


/*media*/

@media screen and (max-width: 767px) {
    /* .header__inner:after {
        display: none;
    } */
    body.lock {
        overflow: hidden;
    }
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
        background-color: #a4abb7;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 35px;
        height: 20px;
        right: 50px;
        z-index: 3;
    }

    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        top: 8px;
        width: 100%;
        height: 3px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }

    .header__menu {
        position: fixed;
        background-color: #BBC2C7;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        padding: 150px 0px 0px;
    }
    .header__menu.active {
        top: 0;
    }
    .header__logo {
        z-index: 3;
    }
    .header__list {
        flex-direction: column;
        align-items: center;
    }
    .header__list li {
        margin-bottom: 25px;
        margin-left: 30px;
    }
    .header__link {
        font-size: 25px;
    }
}
